body{
    background-color: rgb(0, 0, 0);
}
.header{
    text-align: center;
    padding: 10px;
    /* background-color: rgb(255 255 255 / 30%); */
}
.popular-section{
    /* background-color: rgb(255 255 255 / 30%); */
}
.popular-songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.popular-song-name, .popular-singer-name{
    margin-top: 0px;
    margin-bottom: 0px;
    word-wrap: normal;
}
.popular-singer-name{
    color: rgb(152, 144, 144);
}
 *{
    color: #7827e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .cover{
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
 }
.cover:hover {
        transform: translateY(-5px);
        transition: transform 80ms;
}


/* Song Details Container */
.song-details-container {
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #7827e7;
    padding: 20px;
    overflow-y: auto;
    display: none;
    transition: transform 0.1s ease-in-out;
}

/* Close Button */
.close-button {
    background-color: rgb(152, 144, 144);
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    float: right;

}

.close-button:hover {
    background-color: #ff0000;
}

/* Song Image */
.song-image img {
    width: 215px;
    border-radius: 10px;
}

/* Song Details */
.song-details {
    margin-top: 20px;
    text-align: center;
}

.song-details h1 {
    font-size: 28px;
    margin: 10px 0;
    color: #000000;
}

.song-details h3 {
    font-size: 22px;
    margin: 5px 0;
    color: rgb(147, 142, 142);
}

/* Song Audio Player */
.song-audio {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.song-audio audio {
    width: 100%;
}
