body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQonLxSVQQfRzFpkK6WAJH3w0NvowKLCB7wzmQmTaOnEntrwNqnz5KsVU3uKfeQN23kpCI&usqp=CAU");
}
.header{
    text-align: center;
    padding: 10px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(3px);
}

