body{
    padding: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 40%;
}

.left img{
    width: 100%;
}

.right{
    width: 60%;
    padding: 5%;
    background-color: #b682ff;
}






