body{
    padding: 20px;
    background-image: url("images/Aesthetic\ Anime\ Gif\ Wallpaper\ 4k\ Resilienza\ Aesthetic\ Desktop\ 1BC.gif");
    background-size: cover;
}

h1{
    text-align: center;
    color: #b682ff;
    font-size: 4em;
    margin-top: 100px;

}





