body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7827e7;
}

.container, .cursor-container {
    width: 80%;
    text-align: center;
    border-radius: 10%;
    margin: 20px 0;
}

h1 {
    font-size: 2.5em;
    color: #7827e7;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

.time-btn {
    padding: 10px 20px;
    background-color: #7827e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background 0.3s; */
}

.time-btn:hover {
    background-color: #7827e7;
}

.box {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.box:hover {
    transform: translateY(-5px);
}

.hover-paragraph {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.image-container {
    position: relative;
    /* margin-top: 20px; */
    text-align: center;
}

#hoverImage {
    width: 200px;
    transition: transform 0.3s;
}

#hoverText {
    display: none;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    /* padding: 5px; */
    border-radius: 5px;
    margin-top: 10px;
}

.image-container:hover #hoverImage {
    transform: translateY(20px);
}





